/*reset*/
*{
    box-sizing: border-box;
}
/*estilos generales*/
body{
    margin: 0;
    padding: 0;
    background-color: tomato;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    
}
.cart-div{
    display: flex;
}
#cart-img{
    width: 1rem; 
    margin-left: 50%;
    gap: 1rem;  
}